.vscode/
.idea/
*.swp

__pycache__/
*.pyc
*.pyo
*.pyd

.venv
venv/
ENV/

.env
.env.*
!.env.example
!.env.template

sensitive_data/
secret_files/
*.ipynb
coffee_bot_backup.dump
postgres_data/

.claude/
